:root {
  --colors-accents-red-light: #ff3b30;
  --colors-accents-orange-light: #ff9500;
  --colors-accents-yellow-light: #ffcc00;
  --colors-accents-green-light: #34c759;
  --colors-accents-mint-light: #00c7be;
  --colors-accents-teal-light: #30b0c7;
  --colors-accents-cyan-light: #32ade6;
  --colors-accents-blue-light: #0a84ff;
  --colors-accents-indigo-light: #5856d6;
  --colors-accents-purple-light: #bf5af2;
  --colors-accents-pink-light: #ff2d55;
  --colors-accents-brown-light: #ac8e68;
  --colors-accents-gray-light: #8e8e93;

  --colors-accents-red-dark: #ff453a;
  --colors-accents-orange-dark: #ff9f0a;
  --colors-accents-yellow-dark: #ffd60a;
  --colors-accents-green-dark: #30d158;
  --colors-accents-mint-dark: #63e6e2;
  --colors-accents-teal-dark: #40c8e0;
  --colors-accents-cyan-dark: #64d2ff;
  --colors-accents-blue-dark: #0a84ff;
  --colors-accents-indigo-dark: #5e5ce6;
  --colors-accents-purple-dark: #bf5af2;
  --colors-accents-pink-dark: #ff375f;
  --colors-accents-brown-dark: #b58b61;
  --colors-accents-gray-dark: #98989d;

  --colors-accents-vibrant-red-light: rgba(255, 59, 48, 0.8);
  --colors-accents-vibrant-orange-light: rgba(255, 149, 0, 0.8);
  --colors-accents-vibrant-yellow-light: rgba(255, 204, 0, 0.8);
  --colors-accents-vibrant-green-light: rgba(52, 199, 89, 0.78);
  --colors-accents-vibrant-mint-light: rgba(0, 199, 190, 0.78);
  --colors-accents-vibrant-teal-light: rgba(48, 176, 199, 0.78);
  --colors-accents-vibrant-cyan-light: rgba(50, 173, 230, 0.78);
  --colors-accents-vibrant-blue-light: rgba(10, 132, 255, 0.82);
  --colors-accents-vibrant-indigo-light: rgba(88, 86, 214, 0.78);
  --colors-accents-vibrant-purple-light: rgba(191, 90, 242, 0.8);
  --colors-accents-vibrant-pink-light: rgba(255, 45, 85, 0.8);
  --colors-accents-vibrant-brown-light: rgba(172, 142, 104, 0.78);

  --colors-accents-vibrant-red-dark: rgba(255, 69, 58, 0.9);
  --colors-accents-vibrant-orange-dark: rgba(255, 159, 10, 0.88);
  --colors-accents-vibrant-yellow-dark: rgba(255, 214, 10, 0.88);
  --colors-accents-vibrant-green-dark: rgba(48, 209, 88, 0.84);
  --colors-accents-vibrant-mint-dark: rgba(99, 230, 226, 0.84);
  --colors-accents-vibrant-teal-dark: rgba(64, 200, 224, 0.84);
  --colors-accents-vibrant-cyan-dark: rgba(100, 210, 255, 0.86);
  --colors-accents-vibrant-blue-dark: rgba(10, 132, 255, 0.9);
  --colors-accents-vibrant-indigo-dark: rgba(94, 92, 230, 0.86);
  --colors-accents-vibrant-purple-dark: rgba(191, 90, 242, 0.88);
  --colors-accents-vibrant-pink-dark: rgba(255, 55, 95, 0.9);
  --colors-accents-vibrant-brown-dark: rgba(181, 139, 97, 0.82);

  --colors-fills-primary-light: rgba(120, 120, 128, 0.2);
  --colors-fills-secondary-light: rgba(120, 120, 128, 0.16);
  --colors-fills-tertiary-light: rgba(118, 118, 128, 0.12);
  --colors-fills-quaternary-light: rgba(116, 116, 128, 0.08);
  --colors-fills-quinary-light: rgba(116, 116, 128, 0.04);

  --colors-fills-primary-dark: rgba(120, 120, 128, 0.36);
  --colors-fills-secondary-dark: rgba(120, 120, 128, 0.32);
  --colors-fills-tertiary-dark: rgba(118, 118, 128, 0.24);
  --colors-fills-quaternary-dark: rgba(118, 118, 128, 0.18);
  --colors-fills-quinary-dark: rgba(118, 118, 128, 0.12);

  --colors-fills-vibrant-primary-light: rgba(127, 127, 132, 0.24);
  --colors-fills-vibrant-secondary-light: rgba(127, 127, 132, 0.18);
  --colors-fills-vibrant-tertiary-light: rgba(127, 127, 132, 0.14);
  --colors-fills-vibrant-quaternary-light: rgba(127, 127, 132, 0.1);
  --colors-fills-vibrant-quinary-light: rgba(127, 127, 132, 0.06);

  --colors-fills-vibrant-primary-dark: rgba(127, 127, 132, 0.42);
  --colors-fills-vibrant-secondary-dark: rgba(127, 127, 132, 0.34);
  --colors-fills-vibrant-tertiary-dark: rgba(127, 127, 132, 0.26);
  --colors-fills-vibrant-quaternary-dark: rgba(127, 127, 132, 0.2);
  --colors-fills-vibrant-quinary-dark: rgba(127, 127, 132, 0.14);

  --colors-text-primary-light: rgba(0, 0, 0, 0.85);
  --colors-text-secondary-light: rgba(60, 60, 67, 0.72);
  --colors-text-tertiary-light: rgba(60, 60, 67, 0.48);
  --colors-text-quaternary-light: rgba(60, 60, 67, 0.3);
  --colors-text-quinary-light: rgba(60, 60, 67, 0.18);
  --colors-text-seximal-light: rgba(60, 60, 67, 0.1);

  --colors-text-primary-dark: rgba(255, 255, 255, 0.92);
  --colors-text-secondary-dark: rgba(235, 235, 245, 0.72);
  --colors-text-tertiary-dark: rgba(235, 235, 245, 0.48);
  --colors-text-quaternary-dark: rgba(235, 235, 245, 0.3);
  --colors-text-quinary-dark: rgba(235, 235, 245, 0.18);
  --colors-text-seximal-dark: rgba(235, 235, 245, 0.1);

  --colors-text-vibrant-primary-light: rgba(31, 31, 33, 0.84);
  --colors-text-vibrant-secondary-light: rgba(72, 72, 74, 0.68);
  --colors-text-vibrant-tertiary-light: rgba(72, 72, 74, 0.42);
  --colors-text-vibrant-quaternary-light: rgba(72, 72, 74, 0.24);
  --colors-text-vibrant-quinary-light: rgba(72, 72, 74, 0.14);

  --colors-text-vibrant-primary-dark: rgba(255, 255, 255, 0.88);
  --colors-text-vibrant-secondary-dark: rgba(235, 235, 245, 0.66);
  --colors-text-vibrant-tertiary-dark: rgba(235, 235, 245, 0.42);
  --colors-text-vibrant-quaternary-dark: rgba(235, 235, 245, 0.24);
  --colors-text-vibrant-quinary-dark: rgba(235, 235, 245, 0.14);
}

.text-primary-light {
  color: var(--colors-text-primary-light);
}
.text-secondary-light {
  color: var(--colors-text-secondary-light);
}
.text-tertiary-light {
  color: var(--colors-text-tertiary-light);
}
.text-quaternary-light {
  color: var(--colors-text-quaternary-light);
}
.text-quinary-light {
  color: var(--colors-text-quinary-light);
}
.text-seximal-light {
  color: var(--colors-text-seximal-light);
}

.text-primary-dark {
  color: var(--colors-text-primary-dark);
}
.text-secondary-dark {
  color: var(--colors-text-secondary-dark);
}
.text-tertiary-dark {
  color: var(--colors-text-tertiary-dark);
}
.text-quaternary-dark {
  color: var(--colors-text-quaternary-dark);
}
.text-quinary-dark {
  color: var(--colors-text-quinary-dark);
}
.text-seximal-dark {
  color: var(--colors-text-seximal-dark);
}

.text-primary-vibrant-light {
  color: var(--colors-text-vibrant-primary-light);
}
.text-secondary-vibrant-light {
  color: var(--colors-text-vibrant-secondary-light);
}
.text-tertiary-vibrant-light {
  color: var(--colors-text-vibrant-tertiary-light);
}
.text-quaternary-vibrant-light {
  color: var(--colors-text-vibrant-quaternary-light);
}
.text-quinary-vibrant-light {
  color: var(--colors-text-vibrant-quinary-light);
}

.text-primary-vibrant-dark {
  color: var(--colors-text-vibrant-primary-dark);
}
.text-secondary-vibrant-dark {
  color: var(--colors-text-vibrant-secondary-dark);
}
.text-tertiary-vibrant-dark {
  color: var(--colors-text-vibrant-tertiary-dark);
}
.text-quaternary-vibrant-dark {
  color: var(--colors-text-vibrant-quaternary-dark);
}
.text-quinary-vibrant-dark {
  color: var(--colors-text-vibrant-quinary-dark);
}

.fill-primary-light {
  background: var(--colors-fills-primary-light);
}
.fill-secondary-light {
  background: var(--colors-fills-secondary-light);
}
.fill-tertiary-light {
  background: var(--colors-fills-tertiary-light);
}
.fill-quaternary-light {
  background: var(--colors-fills-quaternary-light);
}
.fill-quinary-light {
  background: var(--colors-fills-quinary-light);
}

.fill-primary-dark {
  background: var(--colors-fills-primary-dark);
}
.fill-secondary-dark {
  background: var(--colors-fills-secondary-dark);
}
.fill-tertiary-dark {
  background: var(--colors-fills-tertiary-dark);
}
.fill-quaternary-dark {
  background: var(--colors-fills-quaternary-dark);
}
.fill-quinary-dark {
  background: var(--colors-fills-quinary-dark);
}

.fill-primary-vibrant-light {
  background: var(--colors-fills-vibrant-primary-light);
}
.fill-secondary-vibrant-light {
  background: var(--colors-fills-vibrant-secondary-light);
}
.fill-tertiary-vibrant-light {
  background: var(--colors-fills-vibrant-tertiary-light);
}
.fill-quaternary-vibrant-light {
  background: var(--colors-fills-vibrant-quaternary-light);
}
.fill-quinary-vibrant-light {
  background: var(--colors-fills-vibrant-quinary-light);
}

.fill-primary-vibrant-dark {
  background: var(--colors-fills-vibrant-primary-dark);
}
.fill-secondary-vibrant-dark {
  background: var(--colors-fills-vibrant-secondary-dark);
}
.fill-tertiary-vibrant-dark {
  background: var(--colors-fills-vibrant-tertiary-dark);
}
.fill-quaternary-vibrant-dark {
  background: var(--colors-fills-vibrant-quaternary-dark);
}
.fill-quinary-vibrant-dark {
  background: var(--colors-fills-vibrant-quinary-dark);
}

.accent-red-light {
  color: var(--colors-accents-red-light);
}
.accent-orange-light {
  color: var(--colors-accents-orange-light);
}
.accent-yellow-light {
  color: var(--colors-accents-yellow-light);
}
.accent-green-light {
  color: var(--colors-accents-green-light);
}
.accent-mint-light {
  color: var(--colors-accents-mint-light);
}
.accent-teal-light {
  color: var(--colors-accents-teal-light);
}
.accent-cyan-light {
  color: var(--colors-accents-cyan-light);
}
.accent-blue-light {
  color: var(--colors-accents-blue-light);
}
.accent-indigo-light {
  color: var(--colors-accents-indigo-light);
}
.accent-purple-light {
  color: var(--colors-accents-purple-light);
}
.accent-pink-light {
  color: var(--colors-accents-pink-light);
}
.accent-brown-light {
  color: var(--colors-accents-brown-light);
}
.accent-gray-light {
  color: var(--colors-accents-gray-light);
}

.accent-red-dark {
  color: var(--colors-accents-red-dark);
}
.accent-orange-dark {
  color: var(--colors-accents-orange-dark);
}
.accent-yellow-dark {
  color: var(--colors-accents-yellow-dark);
}
.accent-green-dark {
  color: var(--colors-accents-green-dark);
}
.accent-mint-dark {
  color: var(--colors-accents-mint-dark);
}
.accent-teal-dark {
  color: var(--colors-accents-teal-dark);
}
.accent-cyan-dark {
  color: var(--colors-accents-cyan-dark);
}
.accent-blue-dark {
  color: var(--colors-accents-blue-dark);
}
.accent-indigo-dark {
  color: var(--colors-accents-indigo-dark);
}
.accent-purple-dark {
  color: var(--colors-accents-purple-dark);
}
.accent-pink-dark {
  color: var(--colors-accents-pink-dark);
}
.accent-brown-dark {
  color: var(--colors-accents-brown-dark);
}
.accent-gray-dark {
  color: var(--colors-accents-gray-dark);
}
